@model IEnumerable<ProjectGame.Models.GameViewModel>

@{
    ViewData["Title"] = "Index";
}





@foreach (var game in Model) {
  <h1>@game.Title</h1>
  <p>@game.Description</p>
  <p><b>Ocena: @game.Rate/5</b></p>
}
 